 // Змінні для кольорів, шрифтів тощо
 $frames-color: rgba(167, 73, 214, 1);
 $frames-color-hover: rgba(167, 73, 214, 0.5);
 $fill-in-color: rgba(96, 231, 241, 1);
 $background-color: rgba(31, 167, 188, 0.15);
 $red-color: rgba(255, 162, 180, 0.66);
 $background-secondary-color: rgba(31, 167, 188, 0.37);
 $font-stack: 'Roboto', rgba(22, 22, 69, 1);
 $primary-color: rgba(22, 22, 69, 1);
 $white: rgba(255, 255, 255, 1);
